Source: ginfo
Maintainer: Laurence Field <Laurence.Field@cern.ch>
Section: net
Priority: optional
Build-Depends: debhelper (>= 5), python-support
Standards-Version: 3.9.3
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/BDII
Vcs-Browser: http://svnweb.cern.ch/world/wsvn/gridinfo/bdii/
Vcs-Svn: https://svn.cern.ch/reps/gridinfo/bdii/
DM-Upload-Allowed: yes

Package: ginfo
Architecture: all
Depends: ${python:Depends}
Description: ginfo
